body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    color: #007BFF;
    border: 1px solid #ddd;
    margin: 0 5px;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 16px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
